@use 'sass:string';
@use 'sass:map';
@use 'sass:meta';

$breakpoints: (
    'x-small': (min-width: 0px),
    'small': (min-width: 640px),
    'medium': (min-width: 768px),
    'large': (min-width: 1024px),
	'x-large': (min-width: 1280px),
);

/// Responsive breakpoint manager
/// @access public
/// @param {String} $breakpoint - Breakpoint
/// @requires $breakpoints
@mixin respond-to($breakpoint) {
	$raw-query: map.get($breakpoints, $breakpoint);

  	@if $raw-query {
    	$query: if(
      		type($raw-query) == 'string',
      		string.unquote($raw-query),
      		meta.inspect($raw-query)
    	);

    	@media #{$query} {
      		@content;
    	}
  	} @else {
    	@error 'No value found for `#{$breakpoint}`. '
         	+ 'Please make sure it is defined in `$breakpoints` map.';
  	}	
}