body:has(.card-layout)  {
    background-color: var(--color-primary-10);
}

.heading {
    text-align: center;
    margin-bottom: 24px;
}

.card-layout {
    background-color: white;
    border: 1px solid var(--color-neutral-10);
    border-radius: 16px;
    padding: 48px 40px;
    margin: auto;
}