.footer-wrapper {
    --footer-text-size: 0.8125rem;

    container-type: inline-size;

    * {
        font-size: var(--footer-text-size);
        font-weight: 500;
        line-height: 1.23rem;
        letter-spacing: 0;
    }

    .footer {
        &__main {
            background-color: var(--color-neutral-900);
            color: var(--color-neutral-0);
            padding: 48px 24px 32px;
        }

        &__bottom {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 32px 24px;
            gap: calc(0.25rem * 8);
            width: 100%;
        }

        &__section-header {
            color: var(--color-neutral-200);
        }
        
        &__sections {
            display: flex;
            flex-direction: column;
            gap: calc(0.25rem * 10);
        }

        &__section {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &__items {
            display: flex;
            gap: calc(0.25rem * 5);
            margin-top: calc(0.25rem * 4);
        }
    }

    @container (min-width: 768px) {
        .footer {
            &__bottom {
                flex-direction: row;
                justify-content: space-between;
            }

            &__sections {
                flex-direction: row;
            }
        }
    }
}