@use '../abstracts/breakpoints';

.app-footer {
    ul li {
        list-style: none;
    }

    background-color: var(--color-secondary-50);
    padding: 24px;
    min-height: 350px;

    .footer {
        &__content {
            display: flex;
            flex-direction: column;
        }

        &__item {
            padding: 14px 0;
        }

        &__header {
            font-weight: 700;
            margin-bottom: 14px;
        }

        &__contact {
            margin-bottom: 14px;
        }

        &__social-links {
            width: fit-content;
            
            .footer__social-link {
                display: block;
            }
        }
    }

    * {
        color: var(--color-neutral-0);
    }

    @include breakpoints.respond-to('medium') {
        .copyright {
            align-self: end;
        }
    }
}
