@use '../abstracts/breakpoints';

.app-header {
    padding: 1rem;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: white;

    .header__sidebar {
        margin-right: 12px;
    }

    .header__separator {
        flex: 1;
    }

    .navbar__menu {
        display: flex;
        align-items: center;
        column-gap: 12px;
    }

    @include breakpoints.respond-to('medium') {
        position: sticky;
        box-shadow: 0 1px 5px var(--color-neutral-20);
    }
}
