@use '../abstracts/breakpoints';

.app-header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    column-gap: 30px;
    background-color: white;

    @include breakpoints.respond-to('medium') {
        position: sticky;
        box-shadow: 0 1px 5px #99A3B5;
    }
}
