@use '../abstracts/breakpoints';

.navbar {
    &__menu {
        row-gap: 24px;
        position: fixed;
        background-color: white;
        padding: 1rem 2rem;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
    }

    .navbar__menu.navbar__items  
    .navbar__item:last-child {
        border: 0;
    }

    &__items {
        display: flex;
        flex-direction: column;
        row-gap: 24px;

        .navbar__item {
            display: flex;
            border-bottom: 0.5px solid var(--color-primary-50);
            padding-bottom: 1rem;
        }
        
        .navbar__item > .button--primary,
        .navbar__item > .button--secondary {
            padding: 10px 22px;
            width: 100%;
        }

        .navbar__item > a.button {
            display: block;
            text-align: center;
        }

        > .menu__button {
            align-self: end;
        }
    }

    &__link {
        font-size: 1rem;
        color: #2c2933;
        padding: 0;
    }

    &__link:hover {
        color: var(--color-primary-50);
    }

    @include breakpoints.respond-to('medium') {
        &__menu {
            padding: 0;
        }

        .menu__button {
            display: none;
        }

        &__items {
            position: static;
            column-gap: 24px;
            flex-direction: row;

            .navbar__item {
                border: none;
                padding-bottom: 0;
            }
        }

        &__link {
            padding: 10px 22px;
        }
    }
}