.address-preview {
    display: flex;
    column-gap: 12px;
    align-items: center;

    .icon {
        align-self: start;
    }

    &__details {
        display: flex;
        flex-direction: column;
    }

    .detail {
        font-size: 16px;
    }
}