@use '../abstracts/breakpoints';

.artisan-profile {
    .page-subtitle {
        .separator {
            margin: 0 4px;
        }
    }

    .option-header {
        display: flex;
        align-items: center;
        column-gap: 8px;
        margin: 14px 0;
    }

    .option-header--center {
        justify-content: center;
    }

    .option--flex {
        display: flex;
        align-items: center;
        column-gap: 12px;
    }
}