@use '../abstracts/breakpoints';

.show-artisan-page {
    &.row {
        display: flex;
        flex-direction: column;
        padding: 24px;

        > .column {
            margin-bottom: 24px;

            > div:not(:last-of-type) {
                margin-bottom: 24px;
            }
        }

        > .column > div > h4 {
            margin-bottom: 14px;
        }

        @include breakpoints.respond-to('medium') {
            flex-direction: row;
            column-gap: 42px;
            max-width: 1100px;
            margin: auto;

            > .column:first-of-type {
                flex-basis: 80%;
            }
        }
    }

    .profile__avatar {
        margin-bottom: 40px;
    }

    .profile__title {
        font-size: 1.125rem;
        font-weight: 500;
        color: var(--color-neutral-50);
    }

    .profile__subtitle {
        font-size: 1rem;
        font-weight: 500;
        color: var(--color-neutral-30);
    }
}