h1 {
    font-family: var(--font-body);
    font-size: 22px;
}

.signup-page {
    --form-gap: 12px;

    max-width: calc(100% - 40px);
    margin: 0 auto 0;

    .signup-section {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .signup-form-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .signup-form__header {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }

    .signup-form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .signup-form__group {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--form-gap);
        width: 100%;
    }

    .signup-form__button {
        display: inline-flex;
        color: var(--color-neutral-0);
        background-color: var(--button-primary-background);
        border-radius: 2.5rem;
        height: calc((0.625rem * 4) + 16px);
        width: 100%;
        padding-inline: calc(0.25rem * 5);
        justify-content: center;
        align-items: center;
        margin-top: calc(4px + var(--form-gap));

        &:hover {
            background-color: var(--button-primary-background-hover);
        }
    }

    @media (min-width: 375px) {
        max-width: 375px;
        width: 100%;
    }
}