.button {
    --button-font-size: var(--font-size-md-sm, 14px);

    font-size: var(--button-font-size);
}

.cta--primary {
    @extend .button;

    display: inline-flex;
    color: var(--color-neutral-0);
    background-color: var(--color-brand-primary-500);
    border-radius: 2.5rem;
    height: calc(0.25rem * 9);
    padding-inline: calc(0.25rem * 5);
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: var(--color-brand-primary-600);
    }
}

.cta--secondary {
    @extend .button;
    
    display: inline-flex;
    color: var(--color-neutral-0);
    background-color: var(--color-chocolate-800);
    border-radius: 2.5rem;
    height: calc(0.25rem * 9);
    padding-inline: calc(0.25rem * 5);
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: var(--color-chocolate-900);
    }
}

.cta--ghost {
    @extend .button;

    display: inline-flex;
    color: var(--color-text-secondary);
    background-color: transparent;
    border-radius: 2.5rem;
    height: calc(0.25rem * 9);
    padding-inline: calc(0.25rem * 4);
    justify-content: center;
    align-items: center;

    -webkit-tap-highlight-color: var(--color-chocolate-100);

    &:hover {
        color: var(--color-chocolate-800);
        background-color: var(--color-chocolate-50);
    }

    &:active {
        color: var(--color-chocolate-900);
        background-color: var(--color-chocolate-100);
    }
}
