@use '../abstracts/breakpoints' as breakpoints;

.dialog {
    &__title {
        display: flex;
        justify-content: space-between;
    }

    &__content {
        position: fixed;
        background-color: var(--color-neutral-0);
        border-radius: 10px;
        height: fit-content;
        width: 80%;
        padding: 2rem;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        overflow: auto;

        @include breakpoints.respond-to('medium') {
            width: 50%;
        }
    }
}