.form {
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    &__control {
        display: flex;
        flex-direction: column;

        a {
            margin-top: 8px;
        }
    }

    &__helper-text {
        margin-top: 8px;
    }

    input {
        border-radius: 8px;
    }
}

input.is-invalid:focus-visible {
    outline: none;
}

input.is-invalid {
    border: 2px solid var(--color-error-40);
}