.form {
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    &__control {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        margin-bottom: 14px;
    }
}