input[type="text"], 
input[type="email"],
input[type="number"] {
    border: 1px solid var(--color-neutral-20);
    border-radius: 5px;
    padding: 12px;
    font-size: 16px;
    line-height: 1.4;
}

input[type="text"],
input[type="email"],
input[type="number"] {
    &:focus,
    &:focus-visible {
        outline: none;
        border: 2px solid var(--color-primary-50);
        box-shadow: 0 0 0 2px var(--color-primary-10);
    }
}

input[type="text"],
input[type="email"],
input[type="number"] {
    &.is-invalid {
        border: 2px solid var(--color-input-error);
    }

    &.is-invalid:focus-visible {
        outline: none;
    }
}

.text-area__wrapper {
    display: flex;
    flex-direction: column;

    textarea {
        border: 1px solid var(--color-neutral-20);
        border-radius: 5px;
        padding: 12px;

        &:focus {
            outline: none;
            border: 2px solid var(--color-primary-50);
            border-radius: 5px;
            box-shadow: 0 0 0 2px var(--color-primary-10);
        }
    }
}