.link {
    display: flex;

    &:hover {
        text-decoration: underline;
    }
}

.link--primary {
    color: var(--color-primary-50);
    @extend .link;
}

.link--neutral {
    color: var(--color-neutral-30);
    @extend .link;
}

.link--medium {
    align-items: center;
    padding: 5px 12px;
    column-gap: 12px;
}

.link--blue {
    color: var(--color-link-blue);
}