:root {
    --color-primary-0: #eee8ea;
    --color-primary-10: #fcf1f5;
    --color-primary-20: #f9e0e9;
    --color-primary-30: #f0b2c9;
    --color-primary-50: #e680a5;
    --color-secondary-10: #c8aaa7;
    --color-secondary-40: #5a3535;
    --color-secondary-50: #49282a;
    --color-neutral-0: #ffffff;
    --color-neutral-10: #e0e0e0;
    --color-neutral-20: #99A3B5;
    --color-neutral-30: #696c70;
    --color-neutral-40: #0f0f0f;
    --color-neutral-50: #000000;
    --color-error-10: #e68e80;
    --color-error-20: #d64425;
    --color-error-40: #b62000;
    --color-error-50: #9a0b00;
    --color-success-0: #80e6c1;
    --color-success-10: #00d295;
    --color-success-20: #00c882;
    --color-success-50: #007243;
    --color-input-error: #f73003;
    --color-link-blue: #065fd4;
    --shadow-elevation-1: 0 0 5px 3px light-dark(#e680a5, #e680a5);
}

:root {
    --text-xs: 0.75rem;
    --text-sm: 0.875rem;
    --text-base: 1rem;
    --text-lg: 1.125rem;
    --text-xl: 1.25rem;
    --text-2xl: 1.5rem;
    --text-3xl: 1.875rem;
}