:root {
    --color-primary-10: #fcf1f5;
    --color-primary-50: #e680a5;
    --color-neutral-0: #ffffff;
    --color-neutral-10: #d8dae0;
    --color-neutral-20: #99A3B5;
    --color-neutral-50: #000000;
    --color-error-20: #E6ACA9;
    --color-error-40: #f73003;
    --color-error-50: #99201a;
}