@use '../abstracts/breakpoints';

/* fraunces-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 400;
    src: url('/public/fonts/fraunces-v38-latin/fraunces-v38-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* fraunces-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 500;
    src: url('/public/fonts/fraunces-v38-latin/fraunces-v38-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* fraunces-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 600;
    src: url('/public/fonts/fraunces-v38-latin/fraunces-v38-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* fraunces-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 700;
    src: url('/public/fonts/fraunces-v38-latin/fraunces-v38-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('/public/fonts/inter-v20-latin/inter-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('/public/fonts/inter-v20-latin/inter-v20-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('/public/fonts/inter-v20-latin/inter-v20-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('/public/fonts/inter-v20-latin/inter-v20-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
  font-family: var(--font-body);
}

h1,
h2 {
  font-family: var(--font-heading);
}

h1 {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1.2;

    @include breakpoints.respond-to('medium') {
        font-size: 2rem;
    }
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.3;

    @include breakpoints.respond-to('medium') {
        font-size: 2rem;
    }
}

h3 {
    font-size: 1.375rem;
    font-weight: 600;
    line-height: 1.4;

    @include breakpoints.respond-to('medium') {
        font-size: 2rem;
    }
}

h4 {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.4;

    @include breakpoints.respond-to('medium') {
        font-size: 1.25rem;
    }
}

h5 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;

    @include breakpoints.respond-to('medium') {
        font-size: 1.125rem;
    }
}

h6 {
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1.5;

    @include breakpoints.respond-to('medium') {
        font-size: 1rem;
    }
}

p, label, li {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
}

span {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.4;

    @include breakpoints.respond-to('medium') {
        font-size: 1rem;
    }
}