
.font-medium  {
    font-weight: 500;
}

.font-semibold {
    font-weight: 600;
}

.font-bold {
    font-weight: bold;
}

.block {
    display: block;
}

.inline {
    display: inline;
}

.hidden {
    display: none;
}

.info-text {
    font-size: 14px;
}

.logo {
    text-decoration: none;
}

.cursor--pointer {
    cursor: pointer;
}

.icon--large {
    width: 48px;
    height: 48px;
}

.text--center {
    text-align: center;
}

.truncate {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.divider--horizontal {
    border-bottom: 0.5px solid var(--color-neutral-10);
}

.divider--vertical {
    border-left: 0.5px solid var(--color-neutral-10);
}

.w-fit {
    width: fit-content;
}

.circle--focused:focus {
    border-radius: 50%;
    background-color: var(--color-primary-10);
}

.list-none {
    list-style: none;
}

.flex {
    display: flex;
}

.align-end {
    align-self: end;
}

.justify-end {
    justify-content: end
}